<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	
		<title>条件渲染</title>
	</head>
	<body>
		
	    <div id="id_condition">
			<h1 v-if="awsome">Vue is awsome</h1>
			<h1 v-else>Oh no</h1>
			<p>{{awsome}}</p>
			<button v-on:click="changeAwsome">change Awsome</button>
			
			<p style="color:red">使用template渲染分组</p>
			<template v-if="awsome">
				<h2>这是h2</h2>
				<p>Paragh 1</p>
				<p>Paragh 2</p>
			</template>
			
			<input v-model="type" placeholder="请输入A 或 B  或其他 "/>
			<p v-if="type === 'A'">
				A
			</p>
			<p v-else-if="type === 'B'">
				B
			</p>
			<p v-else>
				既不是A 也不是B
			</p>

			<template v-if="loginType === 'userName'">
				<label>用户名登录</label>
				<input placeholder="请输入用户名"/>
			</template>
			<template v-else>
				<label>邮箱登录</label>
				<input placeholder="请输入邮箱"/>
			</template>

			<template v-if="loginType === 'userName'">
				<label>用户名登录</label>
				<input placeholder="请输入用户名" key="key_username"/>
			</template>
			<template v-else>
				<label>邮箱登录</label>
				<input placeholder="请输入邮箱" key="key_email"/>
			</template>

			<button v-on:click="changeLoginType">切换loginType</button>

			<p v-show="isShow">showTest</p>
			<button v-on:click="changeShow">显示隐藏showTest</button>

			<ul style="color: red">
				<li>
					v-if 是“真正”的条件渲染，因为它会确保在切换过程中条件块内的事件监听器和子组件适当地被销毁和重建。
				</li>
				<li>
					v-if 也是惰性的：如果在初始渲染时条件为假，则什么也不做——直到条件第一次变为真时，才会开始渲染条件块。
				</li>
				<li>
					相比之下，v-show 就简单得多——不管初始条件是什么，元素总是会被渲染，并且只是简单地基于 CSS 进行切换。
				</li>
				<li>
					一般来说，v-if 有更高的切换开销，而 v-show 有更高的初始渲染开销。因此，如果需要非常频繁地切换，则使用 v-show 较好；如果在运行时条件很少改变，则使用 v-if 较好。
				</li>
			</ul>

		</div>
	
		
		<script type="text/javascript" src="../js/vue_condition.js" ></script>
	</body>
</html>
